/*
 * Content block
 * * * * * * * * * * * * * * * * * */
.panel{
    margin-bottom: 25px;
    background: #f8f8f8;
    -webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 3px 3px -2px rgba(0,0,0,0.15);
    box-shadow: 0 3px 3px -2px rgba(0,0,0,0.15);
}
    .panel .panel-header{
        background-color: #3f3f3f;
        height: 25px;
        position: relative;
        padding: 12px 12px 10px 12px;
        border-bottom: 2px solid #2c2c30;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
        .panel .panel-header span {
            line-height: 24px;
            display: inline-block;
            font-size: 20px;
            vertical-align: top;
            margin-bottom: -12px;
            
            color: #fff;
            text-shadow: 1px 1px 0px #125465;
            filter: dropshadow(color=#125465, offx=1, offy=1);
        }
        .panel .panel-header i {
            margin-top: -6px;
        }
        .panel .panel-body{
            background-color: #fafafa;
            margin: 0 2px;
            border: 1px solid #bcbcbc;
            border-top: 0;
            position: relative;
            padding: 15px;
        }

/*
 * Chat
 * * * * * * * * * * * * * * * * * * * * */
 /* Make sure the whole chat always fits the screen */
#chat_conversation{
    height: 450px;
    overflow-y: auto;
}

#chat_conversation .well{
    margin-bottom: 3px;
    padding: 3px;
}

.chatloader{
    display: none;
    color: #fff;
}

#chat_conversation .well a:hover{
    text-decoration: none !important;
}